html {background-image: linear-gradient(to top left, brown, gray); 
min-height: 100vh; 
max-height: auto;
}
header {
    text-align: center;
    color: lightblue;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 100;
}
h2 {
	padding: 0;
    position: relative;
    right: 7vw;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
	max-width: 92vw;
	
}
h3 {
	position: relative;
	text-align: center;
}
h4 {
    padding: 0;
    position: relative;
    left: 7vw;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;	
	max-width: 92vw;

}

p {
	font-size: 16px;
	color: lightgray;
}
a {
    text-decoration: none;
    color:lightgray;
}
a:hover{
    color:gray;
}
.navigation{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    color: beige;
}

.navbtn {
    font-family: 'Open Sans', sans-serif;
    flex: 0 1 90px;
    font-weight: 100;
}
}
.middleside {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 30px;
}
.middleside img{
    width: 200px;
    float: left;
    position: relative;
    left: 20px;
}
.hometext {
    position: relative;
    left: 30px;
    width:90vw;
    color: white;
    font-weight: 100;
}
#current.navbtn {
    color: #9f9f9f;
}
#upside.hometext {
    left: 9vw;
}
.loadingtext{
    position: relative;
    left: 9vw;
}

.loadingbar {
    position: relative;
    display: inline-flex;
    left:8vw;
    width: 200px;
    border-color: black;
    border: 2px solid;
    border-radius: 2px;
    flex: 1 1 300px;
}

.loaded {
    background: black;
    width: 54px;
}
.toload {
    background: lightblue;
    width: 146px;
}

.contact{
	position: relative;
	left: 9vw;
}
.icons{
	color: lightgray;
	font-size: 1.5em;
	
}
.list {
	position: relative;
	display: inline-flex;
	top: 10vh;
	flex-wrap: wrap;
	flex-flow: row wrap;	
}
.edutitle {
	font-size: 20px;
}

.edutext {
	position: relative;
	text-align: justify;
	width: 65vw;
}
.edulist {
	position: relative;
	text-align: center;
	width:30vw;

}
.subtitle {
	position: relative;
	left: 2vw;
	color: lightcoral;
}
.projleft {
	position: relativ
	
}
.projleft img {
	position: relative;
	float: left;
	left: 5vw;
	width: 300px;
	border-radius: 6px;
}
.projlefttext {
	position: relative;
	left: 7vw;
	top: 20px;
	max-width: 92vw;
}